.navbar{
    background-color: #000;
    color: #fff;
}

#background-image{
    top: 50px;
    position: absolute;
    bottom: 0px;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-image: url(../img/background.jpg);
    background-size: cover;

   
}

.intro{
    color: #fff;
margin:25%;
}

.intro-desc{
    font-size: 1.3em;
    margin-bottom: 25px;
}
#title{
    font-size: 3.5em;
    font-weight: 100;
}
.chapter{
    background: none;
    border: 1px solid #fff;
    border-radius: 0px !important;
    text-transform: uppercase;
    padding-left: 15px !important;
    padding-right: 15px !important;
    margin-top:15px;
}
.chapter:hover{
background-color: #1696d2;
}

.research-btns{
margin-top:50px;
}

.research{
    background-color: #1696d2;
    border: none;
    padding:10px;
    margin-top:10px;
}
.research:hover{
background-color: #000;
}