.sidebar-nav {
    top: 30%;
    padding: 0;
    max-height: none;
    position: fixed;
    width: inherit;
}

.bingraph {
    width: 100%;
}

.pairedmap {
    width: 100%;
    margin-top: 30px;
}
/*standard axes*/

.axis {
    font-size: 12px;
    color: #333;
}

.axis path {
    display: none;
}

.axis line {
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis .minor line {
    stroke: #efefef;
}

.legend {
    font-size: 12px;
    color: #333;
}

.abbrevs {
    font-size: 11px;
    text-align: center;
}

.labelline {
    stroke: #000;
    stroke-width: 1;
    fill: none;
    stroke-dasharray: 2, 2;
}

.bar.selected {
    fill: #fdbf11;
}

.splitbar.selected {
    fill: #000000;
}

.needbased {
    fill: #1696d2
}

.nonneedbased {
    fill: #fdbf11;
}
/***line charts***/

.chartline {
    fill: none;
    stroke-width: 1px;
}

.chartline.selected {
    stroke: #fdbf11;
    stroke-width: 5;
}
/*maps*/

.urban-map-tooltip {
    padding: 10px;
    background-color: #fff;
    font-size: 14px;
    color: #333;
    opacity: 0.85;
    border: 1px solid #aaa;
    pointer-events: none;
}

.boundary, .boundary_paired {
    stroke: #fff;
}

.boundary_paired.selected {
    stroke: #000;
    stroke-width: 3px;
}
/*label for bin chart state abbreviation*/
/*.value {
    text-align: center;
    font-size: 12px;
}

bin graph axis
.axis {
    font-size: 12px;
    color: #333;
}

.axis line,
.axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis .minor line {
    stroke: #bbb;
    stroke-dasharray: 2, 2;
}

.bin.selected {
    fill: #fdbf11;
}*/