.sidebar-nav {
    top: 30%;
    padding: 0;
    max-height: none;
    position: fixed;
    width: inherit;
}

.bingraph {
    width: 100%;
}

.pairedmap {
    width: 100%;
    margin-top: 10px;
}

.legendtitle {
    font-size: 12px;
    font-style: italic;
    font-weight: 700;
}

.tt {
    margin-bottom: 1em;
}

.tt-value {
    display: inline-block;
}

.tt-name {
    font-size: 20px;
    margin-bottom: 4px;
}

table {
    width: 100%
}

th,
td {
    text-align: right !important;
}

th {
    border-bottom: 1px solid #ccc;
}
/*standard axes*/

.axis,
.axis-show {
    font-size: 12px;
    color: #333;
}

.axis path {
    display: none;
}

.axis line {
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis .minor line {
    stroke: #efefef;
}

.axis-show path,
.axis-show line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.legend {
    font-size: 12px;
    color: #333;
}

.slope-label {
    font-size: 12px;
    color: #333;
    font-style: italic;
}
/*State abbreviations for bar chart X axis*/

.abbrevs {
    font-size: 9px;
    text-align: center;
}
/*United States line for bar chart*/

.labelline {
    stroke: #000;
    stroke-width: 1;
    fill: none;
    shape-rendering: crispEdges;
    /*stroke-dasharray: 2, 2;*/
}

.bar.selected {
    fill: #ec008b;
}

.splitbar.selected {
    fill: #ec008b;
}

.needbased {
    fill: #1696d2
}

.nonneedbased {
    fill: #fdbf11;
}
/***line charts***/

.chartline {
    fill: none;
    stroke-width: 1px;
}

.chartline.selected {
    stroke: #ec008b;
    stroke-width: 5;
}
/*maps*/

.urban-map-tooltip {
    padding: 10px;
    background-color: #fff;
    font-size: 12px;
    color: #333;
    opacity: 0.85;
    border: 1px solid #aaa;
    pointer-events: none;
}

.boundary,
.boundary_paired {
    stroke: #fff;
    cursor: pointer;
}

.boundary:hover {
    stroke: #ec008b;
    stroke-width: 3px;
    z-index: 1000;
}

.boundary_paired.selected {
    stroke: #ec008b;
    stroke-width: 3px;
    z-index: 1000;
}
/*label for bin chart state abbreviation*/
/*.value {
    text-align: center;
    font-size: 12px;
}

bin graph axis
.axis {
    font-size: 12px;
    color: #333;
}

.axis line,
.axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis .minor line {
    stroke: #bbb;
    stroke-dasharray: 2, 2;
}

.bin.selected {
    fill: #fdbf11;
}*/